@import './base.css';

#app {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem; */
  width: 100vw;
  font-weight: normal;
}

/* @media (min-width: 1024px) { */
body {
  display: flex;
  place-items: center;
  padding-top: var(--nav-h);
}
/* } */

input,
select,
textarea {
  border: 2px solid var(--color-bg-mute);
  background-color: var(--color-bg);
  border-radius: 8px;
  @apply p-1 mb-6 transition-colors min-w-60;
}

input[type='checkbox'] {
  @apply min-w-0 max-w-min max-h-min me-2 cursor-pointer;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: var(--color-text);
}

button {
  @apply p-1 px-4 mt-4 rounded-lg transition-all font-bold border-4;
}

button:not(:disabled) {
  background-color: var(--color-good);
  border-color: var(--color-good);
  @apply text-white hover:bg-transparent hover:text-[var(--color-good)];
}

button:disabled {
  @apply bg-neutral-500 text-neutral-200 border-transparent;
}

.formkit-outer[data-invalid='true'] input {
  border-color: var(--color-bad);
}

.formkit-outer[data-invalid='true'] ul {
  color: var(--color-bad);
  @apply absolute -translate-y-6 text-sm truncate hover:max-w-fit max-w-60 select-none;
}

.formkit-wrapper button {
  @apply min-w-60;
}

.btn-danger {
  background-color: var(--color-red-600) !important;
  color: white !important;
}

.btn-danger:hover {
  background-color: var(--color-red-700) !important;
}
