@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}

input {
  border: 2px solid var(--color-bg-mute);
  background-color: var(--color-bg);
  border-radius: 8px;
  @apply p-1 mb-2 transition-all min-w-60;
}

input:focus {
  outline: none;
  border-color: var(--color-text);
}

button {
  @apply p-1 px-4 mt-4 rounded-lg transition-all font-bold border-4 hover:bg-transparent;
  @apply bg-emerald-600 border-emerald-600 text-emerald-50 hover:text-emerald-600;
  /* @apply dark:bg-emerald-700 dark:border-emerald-700; */
}
